[safe]
  directory = /root/terraform/aws

[init]
  defaultBranch = master

[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[web]
	browser = google-chrome

[auto]
    crlf = false
